@model List<ChapsDotNET.Business.Models.ReportModel>

@{
    ViewData["Title"] = "Reports Administration";
}

@section head{
    <link href="@Url.Content("~/Content/newPagedListButtons.css")" rel="stylesheet" type="text/css" media="screen" />
}

<div class="breadcrumbs">
    <a href="">Home</a>
    &nbsp;>&nbsp;
    <a href="">Administration</a>
</div>

<h1>Reports</h1>

@if (Model != null)
{
    <dl id="reports-list">
        @foreach (var report in Model.ToList())
        {
            <dt>
                <a href="/Admin/Reports/Edit/@report.ReportId">
                    @Html.DisplayFor(x => report.Name)
                </a>
            </dt>
            <dd>
                @{
                    var description = report.Description;
                    @Html.Raw(description);
                }
            </dd>
        }
    </dl>
}
