@import "@govuk-design-system/components/footer/footer";

.chaps-footer {
    &__content {
        margin-bottom: 1.5rem;
        p {
            margin-top: 0;
            margin-bottom: 0.5rem;
        }
    }
}
