@model ChapsDotNET.Models.CampaignViewModel

@{
    ViewData["Title"] = "Create a new campaign";
}

<div class="breadcrumbs">
    <a href="">Home</a>
    &nbsp;>&nbsp;
    <a href="">Administration</a>
    &nbsp;>&nbsp;
    <a href="">Lookups</a>
    &nbsp;>&nbsp;
    <a href="/Admin/campaigns">Campaigns</a>
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

<fieldset class="form-fieldset">
    <legend>
        <h1>@ViewBag.Title</h1>
    </legend>

    <div class="editor-label">
        <label for="Detail">Name</label>
    </div>

    <div class="editor-field">
        @Html.EditorFor(model => model.Detail)
        @Html.ValidationMessageFor(model => model.Detail)
    </div>

    <input class="button" type="submit" value="Create" />
</fieldset>
}
