@model List<ChapsDotNET.Business.Models.CampaignModel>

@{
    ViewData["Title"] = "Campaigns administration";
}

<div class="breadcrumbs">
    <a href="">Home</a>
    &nbsp;>&nbsp;
    <a href="">Administration</a>
    &nbsp;>&nbsp;
    <a href="">Lookups</a>
</div>

<h1>Campaigns</h1>

<div class="actionLinks">
    @Html.ActionLink("Create new Campaign", "Create", "Campaigns")
</div>

<table>
    <caption class="caption">Existing Campaigns</caption>
    <thead>
        <tr>
            <th>
                Description
            </th>
            <th>
                Active
            </th>
        </tr>
    </thead>
    @foreach (var campaign in Model.ToList())
    {
        <tr>
            <td>
                <a href="/Admin/Campaigns/Edit/@campaign.CampaignId">
                    @Html.DisplayFor(x => campaign.Detail)
                </a>
            </td>
            <td align="center">
                @Html.DisplayFor(x => campaign.Active)
            </td>
        </tr>
    }
</table>
