@model List<ChapsDotNET.Business.Models.ReportModel>

@{
    ViewData["Title"] = "Reports administration";
}

@section head{
    <link href="@Url.Content("~/stylesheets/newPagedListButtons.css")" rel="stylesheet" type="text/css" media="screen" />
}

<div class="breadcrumbs">
    <h6>
        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)
        &nbsp;>&nbsp;@Html.ActionLink("Administration", "Index", "Admin")
        > Reports
    </h6>
</div>

<h1>Reports</h1>

@if (Model != null)
{
    <dl id="reports-list">
        @foreach (var report in Model.ToList())
        {
            <dt>
                <a href="/Admin/Report/Edit/@report.ReportId">
                    @Html.DisplayFor(x => report.Name)
                </a>
            </dt>
            <dd>
                @{
                    var description = report.Description;
                    @Html.Raw(description);
                }
            </dd>
        }
    </dl>
}
