@model ChapsDotNET.Models.SalutationViewModel
@using ChapsDotNET.Frontend.Components.Breadcrumbs
@using ChapsDotNET.Frontend.Components.Alert
@using ChapsDotNET.Frontend.Components.Button
@{
    // Initialise page data

    // Breadcrumbs
    List<BreadcrumbModel> breadcrumbs = [
                new BreadcrumbModel { Label = "Home", Url = Url.Action("Index", "Home", new {area =""})},
                new BreadcrumbModel { Label = "Admin", Url = Url.Action("Index", "Admin", new {area =""})},
                new BreadcrumbModel { Label = "Users", Url = Url.Action("Index", "Salutations", new {area ="Admin"})},
    ];
    var breadcrumbsModel = new BreadcrumbsModel(breadcrumbs);

    var primaryButtonModel = new ButtonModel { Label = "Yes I'm sure - deactivate this salutation", Element = ButtonModel.ValidElementTypes.input, Type = ButtonModel.ValidButtonStyles.warning, InputType = ButtonModel.ValidButtonTypes.submit };
    var secondaryButtonModel = new ButtonModel { Label = "Cancel", Element = ButtonModel.ValidElementTypes.anchor, Type = ButtonModel.ValidButtonStyles.secondary, Url = Url.Action("Index", "Users", new { area = "Admin" }) };
    var salutationName = Model.Detail;
}

<!-- Header -->
<partial name="Breadcrumbs" model="breadcrumbsModel" />

<!-- Page content -->
@using (Html.BeginForm())
{
    <div class="chaps-form">
        <h1 class="govuk-heading-l">
            Confirm deactivation
        </h1>
        <p class="govuk-body">Are you sure you want to deactivate salutation <strong>@salutationName</strong>?</p>
        <div class="govuk-button-group">
            <partial name="Button" model="@primaryButtonModel" />
            <partial name="Button" model="@secondaryButtonModel" />
        </div>
    </div>
}
