@using ChapsDotNET.Common.Helpers
@model ChapsDotNET.Business.Models.Common.PagedResult<List<ChapsDotNET.Business.Models.SalutationModel>>
@{
    ViewData["Title"] = "Index";
}

<h1>Salutations</h1>
<table>
    <thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            Title
        </th>
        <th>
            Active
        </th>
    </tr>
    </thead>
    @foreach (var salutation in Model.Results.ToList())
    {
        <tr>
            <td>
                @Html.DisplayFor(x => salutation.SalutationId)
            </td>
            <td>
                @Html.DisplayFor(x => salutation.Detail)
            </td>
            <td>
                @Html.DisplayFor(x => salutation.Active)
            </td>
        </tr>
    }
</table>
<div>
    @Html.PageLinks(@Model, x => Url.Action("Index", new { page = x.ToString() }))
</div>
