@model List<ChapsDotNET.Business.Models.SalutationModel>

@{
    ViewData["Title"] = "Salutations administration";
}

<div class="breadcrumbs">
    <a href="">Home</a>
    &nbsp;>&nbsp;
    <a href="">Administration</a>
    &nbsp;>&nbsp;
    <a href="">Lookups</a>
    &nbsp;>&nbsp;
    Teams
</div>
    
<h1>Salutations</h1>

<div class="actionLinks">
    @Html.ActionLink("Create new Salutation", "Create", "Salutations")
</div>

<table>
    <caption class="caption">Existing salutations</caption>
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Active
            </th>
        </tr>
    </thead>
    @foreach (var salutation in Model.ToList())
    {
        <tr>
            <td>
                <a href="/Admin/Salutations/Edit/@salutation.SalutationId">
                    @Html.DisplayFor(x => salutation.Detail)
                </a>
            </td>
            <td align="center">
                @Html.DisplayFor(x => salutation.Active)
            </td>
        </tr>
    }
</table>
