@using ChapsDotNET.Common.Helpers
@{
    ViewBag.Title = "Administration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <h6>
        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)
        &nbsp;>&nbsp; Administration
    </h6>
</div>



<fieldset class="FieldsetCR">
    <legend>@Html.ActionLink("User management", "Index", "Users")</legend>
    <p>Allows managers and admins to add, update and block named users</p>
</fieldset>

@await Html.PartialAsync("_LookupAdminList")

<fieldset class="FieldsetCR">
    <legend>@Html.ActionLink("Alerts", "Index", "Alerts")</legend>
    <div>Allows admin users to maintain alerts, e.g. All users must be logged off by 4pm.</div>
</fieldset>