@{
    ViewBag.Title = "Lookup administration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h6>@Html.ActionLink("Administration", "Index", "Admin") > Lookups</h6>
@await Html.PartialAsync("_LookupAdminList")