@import "@govuk-design-system/components/select/select";
@import "@govuk-design-system/components/input/input";
@import "@govuk-design-system/components/checkboxes/checkboxes";
@import "@govuk-design-system/components/date-input/date-input";


.chaps-form {
    .govuk-error-message {
        margin-bottom: 0;
    }

    .field-validation-error {
        display: block;
        margin-bottom: 15px;
    }

    &__label-wrapper {
        display: flex;
    }

    &__pre-error {
        &--hidden {
            display: none;
        }
    }

    .govuk-checkboxes__input:checked + .chaps-form__label-wrapper {
        label::after {
            opacity: 1;
        }
    }
}
