.form {
	font:13px Arial, "Times New Roman", Times, serif;
	background:#eee;
	margin:20px;
	padding:10px 20px;
	/*width:100%;	*/
	}
	
.form ul {
	list-style:none;
	margin:0;
	padding:0;
	}
		
.form li {
	padding:6px;
	background:#eee;/*#e1e1e1;*/
	}
			
.form li#send {
	background:none;
	margin-top:6px;
	text-align:center;
	}
		
.form label {
	/*float:left;*/
	width:150px;
	text-align:right;	
	margin-right:7px;
	color:#0066CC;
	font-weight:bold;
	line-height: normal;/*23px; This will make the labels vertically centered with the inputs */
	display:inline-block;
	}
.form input.check-box			
{
    width:20px;
    border:none;
}
.form input,
.form textarea {
	padding:4px;
	font:13px Arial, "Times New Roman", Times, serif;
	border:1px solid #999999;
	width:200px;
}		
.form input:focus,
.form textarea:focus {
	border:1px solid #666;
	background:#e3f1f1;
}
.form textarea#Text.withCharacterCount {
	height: 370px;
	width: 700px;
}
.field-validation-valid {
	text-align: right;
}

.field-validation-error {
    margin-left: 0.05rem;
    white-space: nowrap;
}

.form li#send .field-validation-error 
{
      margin-left:0px!important;
}
.legend
{
	padding:5px;
	font-size:100%;
	font-weight:bold;
	clear:both;
	vertical-align:middle;
	min-width: 0;
}
.legend img
{
	vertical-align:middle;
}
.fs
{
    float:left;
    vertical-align:top;
    min-width:200px;
}
.counter {
	display: block;
	margin-top: .5em;
}
.counter.warning {
	border: none;
	color: #f00;
	font-weight: bold;
	padding-left: 1.5em;
}
