@using ChapsDotNET.Business.Interfaces
@inject IUserComponent _userComponent
@{
    ViewData["Title"] = "Home Page1";
}

<div class="text-center">
    <h1 class="display-4">Chaps DOTNET goes here test</h1>
    <p>@(DateTime.Now)</p>
    <p>@(_userComponent.GetUsersCount())</p>
</div>
