<div class="message warning" style="padding:10px;">
    <span></span>
    <h6>Inactive MoJ Minister</h6>
    <p>@Html.Raw(ViewBag.errorMessage)</p>
    <button class="cancel-button" type="button" onclick="location.href='/Admin/MoJMinisters/';">Back</button>
</div>