@using ChapsDotNET.Business.Interfaces
@inject IUserComponent UserComponent

@{
    var user = await UserComponent.GetUserByNameAsync(User.Identity?.Name);
}

<div class="moj-identity-bar">
    <div class="moj-identity-bar__container">
        <div class="moj-identity-bar__details">
            <span class="moj-identity-bar__title">Connected as <b>@User.Identity?.Name</b> (@user.TeamAcronym)</span>
        </div>
    </div>
</div>
